.root {
  @apply sticky top-0 z-10 px-4 py-2 mx-auto lg:py-6 lg:mb-6;
}

.container {
   @apply max-w-4xl mx-auto lg:px-4 lg:flex lg:items-center lg:justify-between;
}

.icon {
   transition: transform 0.2s ease;
}

@keyframes shake {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(15deg) }
    50% { transform: rotate(-13deg) }
    75% { transform: rotate(12deg) }
    100% { transform: rotate(0deg) }
}

.icon.open {
  animation: shake 350ms 0s 1 running none ease;
}

.sounds {
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-delay: 0ms;
  opacity: 0;
}

.soundsIsOn {
   transition-duration: 200ms;
   transition-property: opacity;
   transition-timing-function: ease;
   transition-delay: 150ms;
   opacity: 1;
}
