# dependencies
node_modules

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# husky
.husky/_

# build output
.next
/dist

# vercel metadata
.vercel
public/atom.xml

# output of workbox and sw
**/public/workbox-*.js
**/public/workbox-*.js.map
**/public/sw.js
**/public/sw.js.map

# keys
.env.local
