@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    background: #050505;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
