.root {
  @apply container px-4 mx-auto; 
}

.title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
  @apply font-bold text-2xl capitalize;
}
