@keyframes shaking-animation {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(15deg) }
  50% { transform: rotate(-13deg) }
  75% { transform: rotate(12deg) }
  100% { transform: rotate(0deg) }
}

.icon {
  transition: transform 0.2s ease;
}
  
.icon.open {
  animation: shaking-animation 350ms 0s 1 running none ease;
}
  
.sounds {
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-delay: 0ms;
  opacity: 0;
}
  
.soundsIsOn {
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-delay: 150ms;
  opacity: 1;
}
