@tailwind base;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white dark:bg-black-vercel text-black-vercel dark:text-white font-inter;
}

@tailwind components;
@tailwind utilities;
