.notion-hr {
  margin: 6px 0px;
  padding: 0;
  border-top-width: 1px;
  border-bottom-width: 0;
  @apply border-accent-3 dark:border-accent-2;
}

.notion {
  letter-spacing: -.33px;
  caret-color: rgb(55, 53, 47);
  font-family: inherit;
  @apply dark:text-white text-black-vercel text-lg;
}
