.notion-code {
  @apply dark:bg-code-dark bg-code-white;
  @apply rounded-xl;
  @apply border dark:border-accent-8 border-accent-6;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply font-cascadiaCode;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  @apply dark:bg-accent-2 bg-accent-6;
}

.keyword {
  @apply dark:text-pink-400 text-red-light font-bold;
}

.token.operator,
.token.punctuation,
.token.string,
.token.number,
.token.builtin,
.token.variable {
  @apply dark:text-accent-9 text-gray-vercel;
}

.token.comment {
  color: #999;
}

.token.class-name,
.token.function,
.token.tag,
.token.attr-name {
  @apply dark:text-white text-accent-2;
}
