:root {
  /* Dark Mode */
  --bg: #2f3437;
  --bg-link: #97534f;
  --text-main: #eaeaea;
  --selection: rgba(255, 255, 255, 0.99);
  --hr: #3a3e41;
  --bg-code: #3f4447;
  --token-keyword: hsl(350, 40%, 70%);
  --token-function: rgba(255, 255, 255, 0.9);
  --token-comment: hsl(30, 20%, 50%);
  --token-operator: hsl(40, 90%, 60%);
  --token-regex: #ee9900;
  --token-tag: hsl(350, 40%, 70%);
  --color-author: #F49B0B;
}

.light {
  --bg: #fff;
  --bg-link: #ffccd1;
  --text-main: #212121;
  --selection: rgba(0, 0, 0, 0.99);
  --hr: rgba(55, 53, 47, 0.09);
  --bg-code: #f7f6f3;
  --token-keyword: #07a;
  --token-function: #DD4A68;
  --token-comment: slategray;
  --token-operator: #9a6e3a;
  --token-regex: #ee9900;
  --token-tag: #905;
  --color-author: #0c00ff;
}

body {
  background: var(--bg);
  color: var(--text-main);
}

a {
  color: var(--text-main);
}

a:hover {
  background-color: var(--bg-link);
}

::selection {
  background-color: var(--selection);
  color: var(--bg);
}

.notion-hr {
  margin: 6px 0px;
  padding: 0;
  border-top: none;
  border-color: var(--hr);
}

.notion {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main);
  caret-color: rgb(55, 53, 47);
  font-family: inherit;
}

.notion-code {
  line-height: 1.5;
  font-size: 0.85rem;
  padding: 30px 16px 30px 20px;
  margin: 4px 0;
  tab-size: 2;
  display: block;
  background: var(--bg-code);
  color: var(--text-main);
  font-family: inherit;
  box-sizing: border-box;
  overflow-x: scroll;
  border-radius: 10px;
}


.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: var(--token-keyword);
}

.token.boolean,
.token.number,
.token.function {
	color: var(--token-function);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--token-comment);
}

.token.operator,
.token.entity,
.token.url {
	color: var(--token-operator);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: var(--token-regex);
}
